body {
	background-image: url("../Assets/stripes.png"), url("../Assets/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	background-color:#525a6a;
	font-size: 20px;
	font-family: arial, helvetica, sans-serif;
	color: white;
}
section {
	margin:300px 0 0 200px;
}
hr {
	border-color:#fd6e6e;
	margin-left: 0;
	width:100px;
}
